div.pp_woocommerce div.ppt {     
display: none!important; 
}
.summary .variations_form.cart {
margin-bottom: 0!important;
}
.woocommerce-variation-add-to-cart .tinv-wraper.tinv-wishlist {
display: none!important;
}
#payment.woocommerce-checkout-payment ul li {
list-style: none!important;
}
a.about_paypal {
margin-left: 10px;
}
.woocommerce-checkout input, 
.woocommerce-checkout input,
.woocommerce-checkout textarea,
.woocommerce-checkout select {
padding: 5px;
font-size: 12px;
}
a.wishlist_products_counter.top_wishlist-heart:before,
.tinv-wishlist .tinvwl_add_to_wishlist_button.icon-black:before, 
a.wishlist_products_counter.top_wishlist-black:before,
body ul.products li.product a.button.compare:hover,
body ul.products li.product a.button.yith-wcqv-button:hover, 
body ul.products li.product a.button.tinvwl_add_to_wishlist_button:hover {
color: #fff!important;
}
.woocommerce ul.products li.product {
border-radius: 0;	
margin-bottom: 0;
padding-bottom: 20px;
background-color: #fff;
position: relative;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
-ms-transition: 0.5s ease-in-out;
-o-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
}
.woocommerce ul.products li.product:hover {
position: relative;
z-index: 12;
}
.woocommerce ul.products li.product:hover::before {
visibility: visible;
opacity: 1;
top: -15px;
left: -15px;
right: -15px;
bottom: 0;
box-shadow: 2px 5px 15px 0 rgba(0,0,0,0.2);
}
.woocommerce ul.products li.product::before {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #fff !important;
content: "";
visibility: hidden;
transition: all 0.5s ease-out 0s;
-webkit-transition: all 0.5s ease-out 0s;
opacity: 0;
}
.woocommerce ul.products li.product a img,
ul.products li.pif-has-gallery a.woocommerce-loop-product__link .wp-post-image--secondary {
transition: all 0.5s ease-out 0s;
-webkit-transition: all 0.5s ease-out 0s;	
}
ul.products li.pif-has-gallery a.woocommerce-loop-product__link:hover .wp-post-image--secondary {
transform: scale(1.15);
-webkit-transform: scale(1.15);
transition: all 0.5s ease-out 0s;
-webkit-transition: all 0.5s ease-out 0s;
}
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link {
display: block;
position: relative;
overflow: hidden;
transform: translateZ(0);
-webkit-transform: translateZ(0);	
transition: all 0.5s ease-out 0s;
-webkit-transition: all 0.5s ease-out 0s;
}
.woocommerce ul.products li.product a img {
margin-bottom: 0 !important;
}
ul.products li.pif-has-gallery a.woocommerce-loop-product__link:hover .attachment-woocommerce_thumbnail {
overflow: hidden;
opacity: 0;
}
.woocommerce .quantity .qty {
width: 6em;
}
.tinvwl-input-group-btn {
width: 50% !important;
}
.tinv-wishlist .product-action {
width: 190px !important;
}
#add_payment_method #payment div.payment_box, 
.woocommerce-cart #payment div.payment_box, 
.woocommerce-checkout #payment div.payment_box {
position: relative;
-webkit-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
padding: 1em;
margin: 1em 0;
font-size: .92em;
border-radius: 2px;
line-height: 1.5;
color: #515151;
}
#add_payment_method #payment div.payment_box::before, 
.woocommerce-cart #payment div.payment_box::before, 
.woocommerce-checkout #payment div.payment_box::before {
content: '';
display: block;
border: 1em solid #eee;
border-right-color: transparent;
border-left-color: transparent;
border-top-color: transparent;
position: absolute;
top: -.75em;
left: 0;
margin: -1em 0 0 2em;
}
.woocommerce.widget_price_filter .price_slider_wrapper .ui-widget-content {
background-color: #d3ced2;
}
#yith-quick-view-content .onsale {
left: auto !important;
}
#yith-quick-view-close {
color: #fff !important;
border-color: #fff !important;
}
.woocommerce ul.products li.product .price {
font-size: 18px;
color: #222;
line-height: 30px;
font-weight: 700;
}
.woocommerce ul.products li.product .tinvwl_add_to_wishlist_button {
width: 40px;
height: 40px;
line-height: 40px;
padding: 5px 8px !important;
}
.woocommerce-page .tinvwl_button_view,
.woocommerce-page .tinvwl_button_close {
padding-bottom: 30px !important;
}
.woocommerce-page .tinvwl_button_view:hover,
.woocommerce-page .tinvwl_button_close:hover {
color: #fff !important;
}
body.single-product div.product div.summary form.cart {
margin-bottom: 0 !important;
}
body.single-product div.product div.summary a.button {
display: none;
}
body.single-product div.product div.summary .product_meta {
margin-top: 20px;
}
.woocommerce div.product form.cart .variations label {
color: #333 !important;
}
.woocommerce div.product form.cart .variations .label {
font-size: 100% !important;	
}
.woocommerce-variation-price {
margin-bottom: 10px;
}
.mg-wsac-button {
color: #fff !important;
}
.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins {
color: #333;
}
body:not(.search-results) .entry-summary {
margin-left: 0 !important;
}
body .woocommerce table.cart td.actions .input-text, 
body .woocommerce-page #content table.cart td.actions .input-text, 
body .woocommerce-page table.cart td.actions .input-text {
width: 135px !important;
}
.woocommerce button.button:disabled, 
.woocommerce button.button:disabled[disabled] {
color: #fff !important;
opacity: 0.7;
} .woocommerce div.product {
margin-top: 50px;
}
.woocommerce .woocommerce-breadcrumb {
font-size: 16px!important;
border-bottom: 1px solid #cec9c9;
padding-bottom: 10px!important;
margin-bottom: 25px!important;
}
.woocommerce .woocommerce-breadcrumb a {
text-decoration: none;
}
.woocommerce .woocommerce-ordering .orderby {
font-size: 14px;
}
.woocommerce-products-header__title {
font-size: 20px!important;
font-weight: 600;
}
.woocommerce-ordering .orderby {
padding: 10px;
}
.woocommerce-resuws-count {
margin-top: 10px;
}
.woocommerce .site-main h1.page-title,
.woocommerce div.product .product_title {
margin-bottom: 35px;
position: relative;
}
.woocommerce div.product .product_title {
margin-bottom: 10px;
font-size: 25px;
}
.woocommerce div.product .product_title:before {
display: none;
}
.woocommerce .site-main h1.page-title:before,
.woocommerce div.product .product_title:before {
content: '';
position: absolute;
height: 2px;
width: 30px;
left: 0;
top: auto;
bottom: 2px;
transform: translate(0, -50%);
-webkit-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
background-color: #cb1a2b;
}
.woocommerce .site-main ul.products {
padding-top: 20px;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
text-align: center;
position: relative;
}
.woocommerce ul.products li.product h3 {
padding: 0 0 10px;
font-size: 22px;
text-transform: uppercase;
font-weight: 400;
}
.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins {
display: inline-block;
margin: 0 5px;
font-size: 15px;
}
.woocommerce ul.products li.product .button {
border: 1px solid;
border-radius: 100%;
font-weight: 400;
text-transform: uppercase;
padding: 12px 15px;
color: #fff;
}
.woocommerce div.product.product_cat-shop .onsale {
max-width: 60px;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
padding: 10px 14px;
}
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover {
color: #fff;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
color: #999;
}
.woocommerce div.product p.price del {
margin-right: 5px;
}
.woocommerce .quantity .qty {
height: 35px;
}
.woocommerce a.button {
color: #fff !important;
}
.woocommerce-message::before {
color: #cb1a2b;
}
.woocommerce-message {
border-top-color: #cb1a2b;
}
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit, 
.woocommerce button.button, 
.woocommerce input.button {
border: 1px solid #cb1a2b;
border-radius: 0;
font-weight: 400;
text-transform: uppercase;
padding: 8px 15px;
color: #fff;
height: 35px;
font-size: 14px;
}
.woocommerce ul.products li.product .button {
font-size: 14px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
padding-left: 0px!important;
margin-bottom: 0!important;	
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
border-color: #cb1a2b;
border-width: 3px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
margin: 0;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel {
border: 1px solid #f1f1f1;
padding: 10px 15px 5px!important;
border-top: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
border-bottom: 1px solid #f1f1f1!important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
padding: 10px;
font-weight: 500;
text-transform: uppercase;
}
.woocommerce #comments {
margin-top: 0;
padding: 0;
}
.woocommerce #reviews #comments h2 {
font-size: 15px;
font-weight: 400;
font-style: italic;
margin-bottom: 0;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel h2 {
font-weight: 400;
margin-bottom: 15px;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .comment-notes {
font-style: italic;
color: red;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .comment-form-author,
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .comment-form-email {
width: 48.5%;
display: inline-block;
vertical-align: top;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .comment-form-author label,
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .comment-form-email label {
display: block;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .comment-form-comment {
width: 100%;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .comment-form-author input[type="text"],
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .comment-form-email input[type="email"] {
width: 100%;
padding: 8px 10px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
border: 0!important;
font-size: 14px;
outline: initial;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel h2 {
font-size: 14px;
}
.woocommerce #review_form #respond .form-submit input {
color: #fff!important;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel .comment-form-email {
float: right;
}
.woocommerce div.product .related.products h2 {
font-size: 20px;
padding-bottom: 10px;
}
.woocommerce #content table.cart td.actions .input-text, 
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
width: 100px;
height: 35px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce input.button.alt {
height: 100%;
background: #cb1a2b;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce input.button.alt:hover {
background: transparent;
color: #cb1a2b;
}
body.woocommerce ul.products li.product {
width: 30.1%!important;
margin: 0 3.8% 2.992em 0!important;
float: left;
vertical-align: top;
clear: none!important;
}
body.woocommerce ul.products li.product:nth-child(3n) {
margin-right: 0!important;
}
.woocommerce ul.products li.product .star-rating {
margin: 0 auto;
}
.woocommerce .star-rating span {
color: #f7df15;
}
.woocommerce span.onsale {
display: block;
height: 46px;
width: 46px;
border-radius: 50%;
line-height: 44px;
color: #fff;
background: #cb1a2b;
font-weight: 500;
text-align: center;
font-size: 12px;
border: 1px dashed #fff;
position: absolute;
-webkit-font-smoothing: antialiased;
-webkit-transform-origin: bottom;
-moz-transform-origin: bottom;
-ms-transform-origin: bottom;
transform-origin: bottom;
top: 15px!important;
left: 5px!important;
z-index: 1;
right: auto !important;
}
.woocommerce a.added_to_cart {
display: none;
}
body.woocommerce-page .site-inner > #container {
width: 72%;
margin-right: 2%;
float: left;
}
body.woocommerce-page .site-inner > .sidebar-primary {
width: 26%;
}
body.woocommerce.woocommerce-page .site-inner #content {
padding-top: 50px;
}
.product_meta .posted_in {
text-decoration: none;
font-size: 18px;
}
body.woocommerce .related.products .products .product:nth-child(n+4) {
display: none;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
color: #fff;
}
.woocommerce-checkout #payment ul.payment_methods li {
list-style: none;
}
.woocommerce .caroufredsel_wrapper {
width: 100%!important;
height: 200px!important;
}
.woocommerce .caroufredsel_wrapper > div {
width: 100%!important;
}
.woocommerce a.button.alt:hover,
.woocommerce-page div.product form.cart .button:hover {
color: #fff!important;
} .wpmenucartli.wpmenucart-display-standard a i {
width: 36px;
height: 36px;
text-align: center;
padding: 6px 7px;
margin-right: 5px;
border-radius: 50%;
font-size: 20px;
color: #fff!important;
background: #cb1a2b;
}
.woocommerce-error {
margin-left: 0!important;
}
.woocommerce-cart-form__cart-item .product-name a {
text-decoration: none;
}
.wpmenucartli .empty-wpmenucart-visible {
display: none;
}
tbody tr td input.button {
font-size: 14px!important;
color: #fff!important;
}
.coupon input.button {
font-size: 14px!important;
color: #fff!important;
}
.related.products ul.products li.product:nth-child(3n) {
margin-right: 0!important
} .woof_sid_auto_shortcode .woof_container {
width: 100%;
}
.chosen-container {
width: 100%;
}
.content .woof_sid_auto_shortcode.woof {
display: none;
} .button.tinvwl_add_to_wishlist_button {
font-size: 0!important;
position: relative;
text-transform: inherit!important;
color: #fff!important;
}
body ul.products li.product a.button.compare,
body ul.products li.product a.button.yith-wcqv-button,
body ul.products li.product a.button.tinvwl_add_to_wishlist_button {
border: 2px solid #fff!important;
position: absolute;
bottom:0;
visibility: hidden;
opacity: 0;
}
body ul.products li.product a.button.tinvwl_add_to_wishlist_button {
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
-ms-transition: 0.5s ease-in-out;
-o-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
}
body ul.products li.product a.button.compare {
-webkit-transition: 0.6s ease-in-out;
-moz-transition: 0.6s ease-in-out;
-ms-transition: 0.6s ease-in-out;
-o-transition: 0.6s ease-in-out;
transition: 0.6s ease-in-out;
}
.button.compare,
.button.yith-wcqv-button {
font-size: 0!important;
position: relative;
text-transform: inherit!important;
height: 40px;
width: 40px;
padding: 0!important;
line-height: 36px!important;
}
.button.compare:before,
.button.yith-wcqv-button:before {
font-family: FontAwesome;
content: "\f002";
font-size: 14px!important;
width: 1em;
height: 1em;
margin: auto !important;
}
.button.compare:hover:after,
.button.yith-wcqv-button:hover:after,
.button.tinvwl_add_to_wishlist_button:hover:after {
content: "Quick";
text-transform: capitalize;
background: #e4e4e4;
padding: 4px 10px;
line-height: 20px!important;
font-size: 14px!important;
color: #fff;
position: absolute;
left: -12px;
top: -30px;
margin-top: -5px;
z-index: 20;
white-space: nowrap;
-moz-box-shadow: 0px 0px 4px #222;
-webkit-box-shadow: 0px 0px 4px #222;
box-shadow: 0px 0px 4px #222;
}
.button.compare:before {
content: "\f079";
}
.button.tinvwl_add_to_wishlist_button:hover:after {
content: "Wishlist";
left: -18px;
}
.button.compare:hover:after {
content: "Compare";
left: -25px;
} ul.products li.product .wc-product-img {
position: relative;
}
ul.products li.product .wc-product-img:before {
content: "";
position: absolute;
z-index: 1;
top: 0;
bottom: 0;
left: 0;
right:0;
background: rgba(255,255,255,.8);
transform: scaleY(0);
-webkit-transform: scaleY(0);
transform-origin: 50%;
-webkit-transform-origin: 50%;
transition-property: transform;
-webkit-transition-property: transform;
transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
transition-timing-function: ease-out;
-webkit-transition-timing-function: ease-out;
cursor: pointer;
bottom: 0;
width: 100%;
height: 100%;
}
ul.products li.product:hover .wc-product-img:before {
transform:scaleY(1);
-webkit-transform:scaleY(1);
-ms-transform:scaleY(1);
-o-transform:scaleY(1);
} .button.yith-wcqv-button {
bottom:0;
visibility: hidden;
opacity: 0;
margin-left: -64px!important;
}
.button.tinvwl_add_to_wishlist_button {
bottom:0;
visibility: hidden;
opacity: 0;
margin-left: -17px!important;
}
.button.compare {
bottom:0;
visibility: hidden;
opacity: 0;
margin-left: 30px!important;
} ul.products li.product:hover .button.tinvwl_add_to_wishlist_button {
visibility: visible;
opacity: 1;
bottom: 135px;
z-index: 15;
-webkit-transition-delay: 0.3s;
-moz-transition-delay: 0.3s;
-ms-transition-delay: 0.3s;
transition-delay: 0.3s;
}
ul.products li.product:hover .button.yith-wcqv-button {
bottom: 36%;
visibility: visible;
opacity: 1;
bottom: 135px;
z-index: 15;
-webkit-transition-delay: 0.3s;
-moz-transition-delay: 0.3s;
-ms-transition-delay: 0.3s;
transition-delay: 0.3s;
}
ul.products li.product:hover .button.compare {
bottom: 36%;
visibility: visible;
opacity: 1;
bottom: 94px;
z-index: 15;
bottom: 135px;
-webkit-transition-delay: 0.3s;
-moz-transition-delay: 0.3s;
-ms-transition-delay: 0.3s;
transition-delay: 0.3s;
}
body ul.products li.product .button.add_to_cart_button {
width: 50px;
height: 50px;
border: 2px solid #fff!important;
position: absolute;
font-size: 0;
margin: 0 auto;
left: 0;
right: 0;
top:0;
z-index: 2;
visibility: hidden;
opacity: 0;
transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405).2s;
-webkit-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405).2s;
-moz-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405).2s;
-o-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405).2s; 
}
ul.products li.product .button.add_to_cart_button:hover:after {
content: "Add to cart";
text-transform: capitalize;
background: #cb1a2b;;
padding: 5px 10px;
line-height: 20px!important;
font-size: 14px!important;
color: #ffff;
position: absolute;
left: -25px;
top: -30px;
margin-top: -5px;
z-index: 20;
white-space: nowrap;
-moz-box-shadow: 0px 0px 4px #222;
-webkit-box-shadow: 0px 0px 4px #222;
box-shadow: 0px 0px 4px #222;
}
body ul.products li.product:hover .button.add_to_cart_button {
top: 30%;
visibility: visible;
opacity: 1;
}
ul.products li.product .button.add_to_cart_button:before {
content: "\f07a";
font-family: FontAwesome;
font-size: 28px;
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
top: 8px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
color: #1c2334;
font-size: 20px;
}