.vg-page-layout-sidebar {
width: 25%;
max-width: 25%;
display: none;	
box-sizing: border-box;
padding: 0 10px;
}
.vg-page-layout-content {
float: left;	
box-sizing: border-box;
padding: 0 10px;
}
.vg-page-layout-above-content-sidebar,
.vg-page-layout-below-content-sidebar {
width: 100%;
max-width: 100%;
text-align: center;
margin: 20px auto;
position: relative;
clear: both;
}
@media only screen and (max-width: 768px){
.vg-page-layout-content {
float: none;	
}
.vg-page-layout-sidebar {
width: 100%;
max-width: 100%;
}
}