@import url("https://fonts.googleapis.com/css?family=Philosopher&display=swap");
body {
background: #fff;
}
body, body p {
font-size: 16px;
color: #9b9b9b;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.8px;
font-family: 'Philosopher', sans-serif;
padding: 0;
margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
font-family: 'Philosopher', sans-serif;
}
body .site {
overflow: hidden;
}
a, 
.comment-reply-link,
.entry-title a:hover,
.entry-title a:focus,
.main-navigation li:hover > a, 
.main-navigation li.focus > a {
color: #81ba00;
}
a:focus,
button {
outline: 0!important;
}
.menu-toggle:hover, .menu-toggle:focus {
background: #81ba00;
}
.site-header-main .menu-toggle:hover:before,
.site-header-main .menu-toggle.toggled-on:before {
color: #fff;
}
.site-header-main .menu-toggle:before {
color: #fff;
} .top-head {
padding: 15px 0;
border-top: 4px solid #81ba00;
position: relative;
z-index: 2;
border-bottom: 1px solid #f7f7f7;
background: #fff;
}
.top-head .container {
max-width: 1170px;
margin: 0 auto;  
line-height: 16px; 
}
.top-head ul li a {
line-height: 10px;
}
.top-head .top-head-widget:nth-child(1) ul li,
.top-head .top-head-widget:nth-child(2) ul li a {
font-family: FontAwesome;
}
.top-head .top-head-widget:nth-child(1) ul li a,
.top-head .top-head-widget:nth-child(2) ul li {
font-family: 'Philosopher', sans-serif;
list-style-type: none;
}
.top-head .top-head-widget:nth-child(1) ul li a {
padding-left: 10px;
color: #000;
font-size: 14px;
}
.top-head .top-head-widget:nth-child(2) ul li {
float: right;
margin-left: 20px;
}
.top-head-widget:nth-child(1) ul li {
float: left;
margin-right: 20px;
}
.top-head-widget {
width: 50%;
display: inline-block;
}
.top-head-widget:nth-child(1) {
float: left;
}
.site-header .site-header-main li {
padding: 10px 20px;
margin-top: 12px;
}
.site-inner .site-content {
margin-top: 70px;
} .site-header {
position: fixed;
width: 100%;
padding: 0 25px;
background-color: #000;
z-index: 999;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
body:not(.home) .site-header {
position: relative;
background-color: #222;
}
.top-head .top-head-widget:nth-child(2) ul li a:hover {
cursor: pointer;
}
.site-header.is-sticky {
max-width: 100% !important;
position: fixed !important;
top: 0;
width: 100%;
}
.site-header-main .site-description {
display: none;
}
.site-branding {
margin-top: 10px !important;
margin-bottom: 0 !important;
} .site-header-main {
max-width: 1170px;
margin: 0 auto;
}
.main-navigation a {
font-weight: 600;
color: #000;
font-size: 14px;
text-transform: uppercase;
}
.main-navigation ul ul a {
text-transform: capitalize;
}
body:not(.home) .site-header .main-navigation a {
color: #fff;
}
body:not(.home) .site-header .main-navigation ul ul li a {
color: #000;
}
.site-header-menu {
margin-top: 0;
margin-bottom: 0;
}
.site-header-menu.is-sticky {
position: relative;
top: 0;
z-index: 999;
left: 0;
right: 0;
-webkit-transition: all 0.4s ease-in-out!important;
-moz-transition: all 0.4s ease-in-out!important;
-ms-transition: all 0.4s ease-in-out!important;
-o-transition: all 0.4s ease-in-out!important;
transition: all 0.4s ease-in-out!important;
}
.site-header-menu .primary-menu > li > a {
color: #fff;
padding-top: 0!important;
padding-bottom: 0!important;
line-height: 70px;
height: 70px;
position: relative;
padding-left: 10px;
padding-right: 10px;
-webkit-transition: 0.4s ease-in-out;
-moz-transition: 0.4s ease-in-out;
-ms-transition: 0.4s ease-in-out;
-o-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}
.site-header .site-header-menu .primary-menu  li:hover > a,
.site-header .site-header-menu .primary-menu  li.current-menu-item > a {
color: #81ba00;
}
.site-header .site-header-menu .primary-menu > li:hover a:before,
.site-header .site-header-menu .primary-menu > li.current-menu-item > a:before {
width: 100%;
opacity: 1;
}
.site-header .site-header-menu .primary-menu > li > a:before {
bottom: 0;
content: "";
height: 3px;
left: 0;
opacity: 0;
position: absolute;
transition: .5s;
width: 0%;
background-color: #81ba00;
}
.site-header .site-header-menu .primary-menu > li:last-child > a:before {
content: none;    
} .ttsubtitle h2 {
position: relative;
width: auto;
display: inline-block;
color: #525252;
letter-spacing: 4px;
font-size: 12px;
padding-bottom: 0;
font-weight: bold;
}
.ttsubtitle h2:before {
border-top: 1px solid #d6d6d6;
bottom: 0;
content: "";
height: 1px;
left: -50px;
margin: auto;
position: absolute;
right: auto;
top: 0;
width: 30px;
}
.ttsubtitle h2:after {
border-top: 1px solid #d6d6d6;
bottom: 0;
content: "";
height: 1px;
left: auto;
margin: auto;
position: absolute;
right: -50px;
top: 0;
width: 30px;
} .ws-tab-product .elementor-tabs-wrapper {
text-align: center;
}
.ws-tab-product .elementor-tabs-wrapper .elementor-tab-title {
display: inline-block !important;
padding: 20px 15px !important;
}
.ws-tab-product .elementor-tabs-wrapper .elementor-tab-title a {
padding: 10px 18px;
border-radius: 30px; 
font-weight: 500; 
color: #000 !important;
background: #eee;  
transition: color .3s ease,background-color .3s ease,border-color .3s ease,opacity .3s ease;
}
.ws-tab-product .elementor-tabs-wrapper .elementor-active a {
background-color: #81ba00;
color: #fff !important;
font-weight: 400;
}
.ws-tab-product .elementor-tabs-wrapper {
margin-bottom: 10px;
}
.ws-tab-product .elementor-tabs-wrapper .elementor-tab-title a:hover {
color: #fff !important;
background-color: #81ba00;
}
.ws-tab-product .woocommerce ul.products li.product a.woocommerce-LoopProduct-link {
display: inline-block;
position: relative;
overflow: hidden;
}
.ws-tab-product .woocommerce ul.products li.product {
background: #fff;
z-index: 1;
}
.ws-tab-product .woocommerce ul.products li.product:hover {
box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.1);
}
.ws-tab-product .woocommerce ul.products li.product a img {
width: 100%;
transition: all 0.5s ease-out 0s;
}
.ws-tab-product ul.products li.product.pif-has-gallery .wp-post-image--secondary {
position: absolute;
top: 0;
left: 0;
opacity: 0;
transform: rotateY(90deg);
-webkit-transform: rotateY(90deg);
transition: all 0.5s ease-out 0s;
}
.ws-tab-product .woocommerce ul.products li.product:hover a img {
transform: rotateY(-90deg);
-webkit-transform: rotateY(-90deg);
opacity: 0;
}
.ws-tab-product ul.products li.product.pif-has-gallery:hover .wp-post-image--secondary {
transform: rotateY(0);
-webkit-transform: rotateY(0);
opacity: 1;
}
.ws-tab-product .woocommerce ul.products li.product h2 {
position: relative;
margin-top: 10px;
}
.ws-tab-product .woocommerce ul.products li.product:hover h2:before {
width: 90px;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
} .ws-intro {
position: relative;
}
.ws-intro .ws-intro-carousel {
position: absolute;
left: 0;
top: -150px;
}
.ws-intro .ws-intro-carousel .swiper-slide {
background: #f5f5f5;
border: 8px solid #ffffff;
border-radius: 8px;
padding: 50px 50px 20px 50px;
z-index: 1;
}
.ws-intro .elementor-image-carousel-caption {
margin-top: 50px;
}
.ws-intro .ws-intro-carousel .swiper-slide:hover:after {
height: 50%;
}
.ws-intro .ws-intro-carousel .swiper-slide:after {
background: #cedcc5;
content: "";
height: 0;
left: 0;
margin: 0 auto;
position: absolute;
right: 0;
top: 0;
transition: all 400ms ease-in-out 0s;
-webkit-transition: all 400ms ease-in-out 0s;
-moz-transition: all 400ms ease-in-out 0s;
-o-transition: all 400ms ease-in-out 0s;
-ms-transition: all 400ms ease-in-out 0s;
width: 100%;
z-index: -1;
} .ws-services .elementor-image-box-img {
text-align: center;
}
.ws-services .ws-services-item .elementor-image-box-img {
position: relative;
z-index: 1;
}
.ws-services .ws-services-item .elementor-image-box-img:after {
background: rgba(0, 0, 0, 0) url(//localhost/wordpress/wp-content/themes/ws-juice-wordpress-theme-install-package/images/service-bg-1.png) no-repeat scroll 0 0 / contain;
content: "";
height: 100px;
left: 0;
z-index: -1;
margin: 0 auto;
position: absolute;
right: 0;
top: -24px;
width: 100px;
}
.ws-services .ws-services-item01 .elementor-image-box-img:after {
background: rgba(0, 0, 0, 0) url(//localhost/wordpress/wp-content/themes/ws-juice-wordpress-theme-install-package/images/service-bg-2.png) no-repeat scroll 0 0 / contain;
}
.ws-services-item .elementor-image-box-img img {
text-align: center;
display: inline-block;
transition: 400ms ease-in-out;
-webkit-transition: 400ms ease-in-out;
-moz-transition: 400ms ease-in-out;
-o-transition: 400ms ease-in-out;
-ms-transition: 400ms ease-in-out;
max-width: 100%;
}
.ws-services-item:hover .elementor-image-box-img img {
transform: rotateY(180deg);
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
} .woocommerce ul.products li.product {
margin-bottom: 40px;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px #eee;
}
.woocommerce ul.products li.product h2 {
font-size: 16px !important;
padding-bottom: 0 !important;
}
body div.woocommerce ul.products li.product span.price {
font-size: 13px !important;
}
.woocommerce ul.products li.product:hover:before {
transform: scale(1) !important;
border-radius: 5px;
}
body.woocommerce .sidebar-left-blog, body.woocommerce .sidebar-right-blog {
display: block;
}
.woocommerce ul.products li.product img {
border-radius: 5px;
} .video-item {
width: 100%;
max-width: 600px;
margin: 200px auto 0;
}
.video-item figure {
position: relative;
width: 100%;
font-size: 0;
}
.video-item figure img {
width: 100%;
}
.video-item figure a:before {
content: '';
position: absolute;
top: 50%;
left: 50%;
width: 65px;
height: 65px;
margin-top: -32.5px;
margin-left: -32.5px;
border-radius: 50%;
background-color: rgba(0, 78, 255, 0.9);
z-index: 10;
}
.video-item figure a:after {
content: '';
position: absolute;
top: 50%;
left: 50%;
margin-top: -12.5px;
margin-left: -7px;
border: solid 13px transparent;
border-left: solid 20px;
border-left-color: #fff;
z-index: 10;
}
.video-item figure a:hover:before {
background-color: rgba(255, 39, 0, 0.9);
}
.modal-open {
overflow: hidden;
}
.lightbox {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(255, 255, 255, 0.8);
padding: 120px 10px;
display: none;
box-sizing: border-box;
overflow: auto;
z-index: 100;
}
.popup-modal {
position: relative;
margin: 0 auto;
display: none;
}
.popup-modal .close {
position: absolute;
top: 18px;
right: 30px;
width: 28px;
height: 28px;
border: solid 1px #004eff;
border-radius: 50%;
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
cursor: pointer;
}
.popup-modal .close:before {
position: absolute;
width: 14px;
height: 2px;
top: 50%;
left: 50%;
margin-left: -7px;
background-color: #004eff;
content: '';
-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.popup-modal .close:after {
position: absolute;
width: 14px;
height: 2px;
top: 50%;
right: 50%;
margin-right: -7px;
background-color: #004eff;
content: '';
-ms-transform: translateY(-50%) rotate(90deg);
-webkit-transform: translateY(-50%) rotate(90deg);
transform: translateY(-50%) rotate(90deg);
}
.popup-modal .close:hover {
border-color: #ff2700;
}
.popup-modal .close:hover:before {
background-color: #ff2700;
}
.popup-modal .close:hover:after {
background-color: #ff2700;
}
.post-popup {
width: 100%;
max-width: 875px;
background-color: #fff;
box-shadow: 0 2px 12px rgba(0, 0, 0, 0.22);
}
.post-popup .popup-header {
padding: 20px 30px;
font-size: 14px;
margin-right: 60px;
}
.post-popup .popup-video {
font-size: 0;
}
.post-popup .popup-video video {
width: 100%;
}
.post-popup .popup-video img {
width: 100%;
}
.post-popup .popup-main {
padding: 40px 30px;
}
.post-popup .popup-main p {
margin: 0 0 10px 0;
}
.video-item {
width: 100%;
max-width: 600px;
margin: 0px auto 0;
}
.video-item figure {
position: relative;
width: 100%;
font-size: 0;
}
.video-item figure img {
width: 100%;
}
.video-item figure a:before {
content: '';
position: absolute;
top: 50%;
left: 50%;
width: 65px;
height: 65px;
margin-top: -32.5px;
margin-left: -32.5px;
border-radius: 50%;
background-color: #c15a5a;
z-index: 10;
}
.video-item figure a:after {
content: '';
position: absolute;
top: 50%;
left: 50%;
margin-top: -12.5px;
margin-left: -7px;
border: solid 13px transparent;
border-left: solid 20px;
border-left-color: #fff;
z-index: 10;
}
.video-item figure a:hover:before {
background-color: #000;
}
.modal-open {
overflow: hidden;
}
.lightbox {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(255, 255, 255, 0.8);
padding: 120px 10px;
display: none;
box-sizing: border-box;
overflow: auto;
z-index: 100;
}
.popup-modal {
position: relative;
margin: 0 auto;
display: none;
}
.popup-modal .close {
position: absolute;
top: 18px;
right: 30px;
width: 28px;
height: 28px;
border: solid 1px #004eff;
border-radius: 50%;
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
cursor: pointer;
}
.popup-modal .close:before {
position: absolute;
width: 14px;
height: 2px;
top: 50%;
left: 50%;
margin-left: -7px;
background-color: #004eff;
content: '';
-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.popup-modal .close:after {
position: absolute;
width: 14px;
height: 2px;
top: 50%;
right: 50%;
margin-right: -7px;
background-color: #004eff;
content: '';
-ms-transform: translateY(-50%) rotate(90deg);
-webkit-transform: translateY(-50%) rotate(90deg);
transform: translateY(-50%) rotate(90deg);
}
.popup-modal .close:hover {
border-color: #ff2700;
}
.popup-modal .close:hover:before {
background-color: #ff2700;
}
.popup-modal .close:hover:after {
background-color: #ff2700;
}
.post-popup {
width: 100%;
max-width: 875px;
background-color: #fff;
box-shadow: 0 2px 12px rgba(0, 0, 0, 0.22);
}
.post-popup .popup-header {
padding: 20px 30px;
font-size: 14px;
margin-right: 60px;
}
.post-popup .popup-video {
font-size: 0;
}
.post-popup .popup-video video {
width: 100%;
}
.post-popup .popup-video img {
width: 100%;
}
.post-popup .popup-main {
padding: 40px 30px;
}
.post-popup .popup-main p {
margin: 0 0 10px 0;
} .ws-gallery .premium-gallery-item {
position: relative !important;
left: 0 !important;
top: 0 !important;
} .ws-team-item .elementor-image-box-img {
position: relative;
}
.ws-team-item:hover .elementor-image-box-img:before {
left: 0;
opacity: 0;
right: 0;
}
.ws-team-item:hover .elementor-image-box-img:after {
bottom: 0;
opacity: 0;
top: 0;
}
.ws-team-item .elementor-image-box-img:before {
background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
bottom: 0;
content: "";
left: 50%;
opacity: 1;
position: absolute;
right: 50%;
top: 0;
z-index: 1;
display: inline-block;
-webkit-transition: all 500ms ease-in 0s;
transition: all 500ms ease-in 0s;
}
.ws-team-item .elementor-image-box-img:after {
background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
bottom: 50%;
content: "";
left: 0;
opacity: 1;
position: absolute;
right: 0;
top: 50%;
-webkit-transition: all 500ms ease-in 0s;
transition: all 500ms ease-in 0s;
}
.ws-team-item .ws-team-item-icon {
opacity: 0;
-webkit-transition: all 500ms ease-in 0s;
transition: all 500ms ease-in 0s;
transform: scale(0);
}
.ws-team-item:hover .ws-team-item-icon {
opacity: 1;
transform: scale(1);
} .ws-testimonials .ws-testimonials-item .elementor-image-carousel-caption .drive {
position: relative;
}
.ws-testimonials .ws-testimonials-item .elementor-image-carousel-caption .drive:before {
content: '';
position: absolute;
height: 50px;
width: 1px;
background-color: #fff;
display: inline-block;
left: 50%;
top: -95%;
text-align: center;
z-index: 1;
}
.ws-testimonials .ws-testimonials-item .desc {
padding: 20px 0;
color: #fff !important;
padding-bottom: 60px;
}
.ws-testimonials .ws-testimonials-item .elementor-image-carousel-wrapper {
padding: 0!important;
}
.ws-testimonials .ws-testimonials-item .desc,
.ws-testimonials .ws-testimonials-item .name,
.ws-testimonials .ws-testimonials-item .positions {
color: #fff !important;
} .ws-blog .premium-blog-content-wrapper {
top: 0 !important;
margin: 0 !important;
padding-top: 70px !important;
padding-bottom: 70px !important;
}
.ws-blog .premium-blog-entry-meta {
margin-bottom: 18px;
margin-top: 8px;
}
.post-title:hover, .nav-previous a .post-title:hover, .nav-links .nav-previous .post-title:hover,
.nav-links .nav-previous .post-title:focus, .nav-next .post-title:hover,
.post-navigation a:hover .post-title, .post-navigation a:focus .post-title, 
.ws-title h2 span, .ws-title2 h3 span  {
color: #81ba00 !important;
}
nav.post-navigation a:hover .post-title, nav.post-navigation a:focus .post-title, .ws-title h2 span, .ws-title2 h3 span {
color: #81ba00 !important;
}
.ws-blog .premium-blog-post-outer-containe .premium-blog-post-container {
float: left;
width: 100%;
}
.ws-blog .premium-blog-post-outer-container:first-child .premium-blog-post-container .premium-blog-thumb-effect-wrapper {
float: left;
width: 50%;
border: 8px solid #ffffff;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.ws-blog .premium-blog-post-outer-container:first-child .premium-blog-post-container .premium-blog-content-wrapper  {
float: left;
width: 50%;
clear: initial !important;
}
.ws-blog .premium-blog-post-outer-container:last-child .premium-blog-post-container .premium-blog-thumb-effect-wrapper {
float: right;
width: 50%;
border: 8px solid #ffffff;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.ws-blog .premium-blog-post-outer-container:last-child .premium-blog-post-container .premium-blog-content-wrapper  {
float: left;
width: 50%;
text-align: right;
clear: initial !important;
padding-left: 0 !important;
} .wpcf7-form textarea {
height: 150px;
background-color: transparent;
}
.ws-contact-form .wpcf7 {
display: inline-block;
width: 100%;
}
.ws-contact-form p:nth-child(4),
.ws-contact-form p:nth-child(5) {
width: 48% !important;
float: left;
display: inline-block;
margin-bottom: 25px;
}
.ws-contact-form p:nth-child(4) {
margin-right: 4%;
}
.wpcf7-submit {
text-align: center;
margin-top: 25px;
}
.wpcf7-form p:nth-child(7) {
text-align: center !important;
} .woocommerce span.onsale, .mg-wsac-badge, .mg-wsac-btn {
background-color: #81ba00   ;
} 
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar,
body .woocommerce a.button, body .woocommerce #respond input#submit, body  .woocommerce a.button:hover, 
body .woocommerce button.button, body .woocommerce input.button, 
body .woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
body .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
body .elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar,
.sidebar .widget-title:before, .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.form-submit input:hover,
.button.compare:hover:after, .button.yith-wcqv-button:hover:after, 
.button.tinvwl_add_to_wishlist_button:hover:after,
ul.products li.product .button.add_to_cart_button:hover:after,
.price_slider div.ui-slider-range.ui-widget-header.ui-corner-all,
.woocommerce-product-search button:hover,
.price_slider span.ui-slider-handle.ui-state-default.ui-corner-all,
.pagination .prev:hover, .pagination .prev:focus, .pagination .next:hover, .pagination .next:focus,
form#commentform .form-submit input#submit, .wpmenucartli.wpmenucart-display-standard a i {
background-color: #81ba00 !important;
}
.tinvwl-buttons-group.tinv-wishlist-clear button.button.tinvwl_button_view.tinvwl-btn-onclick,
.tinvwl-buttons-group.tinv-wishlist-clear button.button.tinvwl_button_close {
background-color: #81ba00 !important;
}
.right-border, .woocommerce-message,
.woocommerce div.product form.cart .button, .woocommerce #respond input#submit, 
.woocommerce button.button, .woocommerce input.button, .woocommerce-error, .woocommerce-info {
border-color: #81ba00;
}
.woocommerce-message:before,
.woocommerce-error:before, .woocommerce-info:before {
color: #81ba00;
}
ul.products li.pif-has-gallery a.woocommerce-loop-product__link:hover .wp-post-image--secondary {
transform: scale(1.05);
-webkit-transform: scale(1.05);
transition: all .5s ease-out 0s;
-webkit-transition: all .5s ease-out 0s;
} .main-footer {
background: url(//localhost/wordpress/wp-content/themes/ws-juice-wordpress-theme-install-package/images/test3.jpg);
background-size: cover;
background-position: center;    
}
.main-footer .columns h2 {
color: #fff;
font-weight: 800;
font-size: 20px;
line-height: 24px;
margin-top: 10px;
margin-bottom: 20px;
position: relative;
text-transform: capitalize;
font-family: 'Philosopher', sans-serif;
}
.main-footer .columns:nth-child(1) h2:before,
.main-footer .columns:nth-child(2) h2:before {
content: '';
background: #81ba00;
position: absolute;
height: 4px;
z-index: 1;
width: 50px;
left: 0;
top: auto;
display: inline-block;
bottom: -8px;
}
.main-footer .columns,
.main-footer .columns {
width: 37.5% !important;
padding: 20px;
text-align: left !important;
}
.main-footer .columns ul li {
margin: 5px 10px !important;
}
.main-footer .columns:nth-child(1) img.lazyloaded {
margin-left: -53px;
margin-top: -3px;
}
.main-footer .columns:nth-child(2) {
margin-top: 10px;
}
.main-footer .columns:nth-child(2) {
padding-left: 30px;
margin-top: 0 !important;
}
.main-footer .columns:nth-child(2) ul li {
position: relative;
list-style-type: none;
}
.main-footer .columns:nth-child(2) ul li:before {
position: absolute;
content: '\f105';
font-family: FontAwesome;
left: -25px;
bottom: 2px;
display: inline-block;
color: #fff;
font-size: 13px;
}
.main-footer .columns:nth-child(3) {
width: 25% !important;
background: #81ba00;
border: 8px solid rgba(255, 255, 255, 0.2);
}
.main-footer .columns:nth-child(3) h2 {
font-size: 30px !important;
line-height: 40px !important;
font-style: italic;
}
.main-footer .columns:nth-child(2) ul li:hover:before {
color: #fff;
}
.main-footer .columns:nth-child(2) ul {
margin-top: 30px !important;
}
.main-footer .columns:nth-child(3) ul li:before {
margin-left: -10px;
color: #fff;
}
.main-footer .columns:nth-child(3) ul {
margin-left: 3px;
}
.main-footer .columns:nth-child(3) ul li a {
padding-left: 15px;
}
.main-footer .columns p {
color: #fff;
font-size: 16px;
margin-top: 12px;  
}
.main-footer .columns:nth-child(4) {
width: 100% !important;
}
.main-footer .columns:nth-child(4) #media_gallery-4 {
max-width: 300px;
margin: 0 auto;
}
.main-footer .columns a {
color: #fff;
font-size: 16px; 
line-height: 27px; 
font-family: 'Philosopher', sans-serif;
}
.site-footer {
background: #000;
}
.site-footer a {
color: #81ba00 !important;
}
.site-footer p {
font-size: 16px;
color: #fff;
} @media (max-width: 1185px) {
.main-navigation a {
font-size: 10px;
}
.ws-services-big {
width: 100% !important;
}
.ws-services-img {
position: relative !important;
top: 0 !important;
}
}	
@media (max-width: 1024px) {
body.woocommerce-page ul.products li.product:hover .button.add_to_cart_button {
top: 20%;
margin: 0 auto !important;
}
}
@media (max-width: 960px) {
body.woocommerce #primary #main {
width: 100% !important;
float: none;
margin-right: 0 !important;
}	
.sidebar {
margin-left: 0%;
width: 100%!important;
}
.site-header-menu .primary-menu > li > a {
height: 45px;
line-height: 45px;
}
.site-header-menu .primary-menu > li > a:before {
content: none;
}
.site-header {
position: relative;
border-radius: 0 !important;
}
.site-header .site-header-menu .primary-menu > li > a:before {
display: none;
}
.main-navigation a {
font-size: 14px;
}
body:not(.home) .site-header .main-navigation ul ul li a,
body.home .site-header .main-navigation ul ul li a {
color: #fff;
}
}
@media(max-width: 910px)  {
.site-header-menu .primary-menu > li > a:after {
content: none;
}
}
@media(max-width: 769px)  {
.top-head {
display: none;
}
.main-footer .columns, .main-footer .columns:nth-child(3) {
width: 100% !important;
}
.main-footer .columns:nth-child(2) {
padding-left: 10px;
}
article .post-thumbnail, article .entry-content p, article .entry-content a, article .entry-footer, article .entry-header {
margin: 10px 30px !important;
}
body.page-template-default .post-thumbnail, body.page-template-default .entry-content p, 
body.page-template-default .entry-content a, body.page-template-default .entry-footer, body.page-template-default .entry-header {
margin: 5px !important;
}
.ws-blog .premium-blog-post-outer-container {
position: relative !important;
left: 0 !important;
top: 0px !important;
width: 100% !important;
}
.ws-blog .premium-blog-thumb-effect-wrapper {
margin-bottom: 0;
}
.ws-blog .premium-blog-post-container,
.ws-blog .premium-blog-content-wrapper,
.ws-blog .premium-blog-thumb-effect-wrapper {
width: 100% !important;
clear: left !important;
}
.ws-blog .premium-blog-content-wrapper  {
padding: 30px 10px !important;
}
.ws-blog .premium-blog-post-outer-container:last-child .premium-blog-post-container .premium-blog-content-wrapper {
text-align: left !important;
}
body.woocommerce-page ul.products li.product {
width: 46%!important;
margin: 0 0 2.992em !important;
}
body.woocommerce-page .page-numbers.current {
margin: 10px 30px;
background: none !important;
color: #000 !important;
}
}
@media (max-width: 480px) {
body.woocommerce-page ul.products li.product {
width: 100%!important;
margin: 30px 0!important;
}
body.home .woocommerce ul.products li.product {
margin-right: 0%!important;
width: 100%!important;
}
.ws-contact-form p:nth-child(5),
.ws-contact-form p:nth-child(6) {
width: 100% !important;
}
}
.footer-custom-code .widget.widget_text {
margin: 0 !important;
padding-bottom: 0 !important;
}
.footer-custom-code .widget.widget_text .textwidget {
height: 0px !important;
}
.footer-custom-code .widget.widget_text {
background: transparent;
}
.footer-custom-code .widget {
padding: 0;
margin: 0;
}
.site-footer p {
margin: 0;
}
.footer-custom-code .widget.widget_text .textwidget p {
display: none;
}